#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
* Commonly used libraries for Data Scientists
* Popular Languages for Data Scientists
* Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlip
3. Numpy

|Data Science Tools|
|------------------|
|Python|
|Anaconda|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

(1+1)
(2+2)
(3+4)

this a simple arithmetic expression to mutiply then add integers

In [17]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [19]:
(200/60)

3.3333333333333335

## Author
Angeline Honda